*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: wheat;
    line-height: 1.4;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    padding: 20px;
    position: sticky;
    top:0px;
    z-index: 100;
}
header h1{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
    margin-bottom: 15px;
}
nav a{
    margin : 0px 40px;
    font-size: 1.2rem;
    text-decoration: none;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav a:hover{
    color:darksalmon;
}

/* homepage */

.box{
    width: 800px;
    padding: 20px;
    border-radius: 20px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.box h2{
color: darkblue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 2rem;
margin-bottom: 20px;
}
.box p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: brown;
    font-weight: 550;
    font-size: 1.2rem;
}
.box a{
    margin-top: 15px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.703);;
    height: auto;
    width: auto;
    font-size: 2rem;
    text-decoration: none;
    color:aliceblue;
    border-radius: 15px;
    padding: 5px;
    transition: box-shadow 1s ease, transform 1s ease;
}
.box a:hover{
    box-shadow: 0px 0px 5px 5px  aliceblue;
    transform: translateY(-5px);
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.why{
    text-align: center;
    width: 800px;
}
.why h2{
    font-size: 1.8rem;
    color: rgba(42, 40, 40, 0.879);
}
.why p{
    font-size: 1.3rem;
    color: darkred;
    font-weight: 550;
    margin-bottom: 25px;
}
.big-box h2{
font-size: 2rem;
color: rgb(192, 21, 72);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 2rem;
margin: 30px 0px 10px 60px;  

}

/* Tutorial */
.tutorial{
    margin: auto;
    
}
.tutorial h3{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px 0px;
    font-weight: 700;
    color: rgb(192, 21, 72);
}
.craft{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: auto;
    width: 80vw;
    gap: 30px;
    padding: 40px;
}
.craft a{
display: block;
transition: 1s ease;
}
.craft a:hover{
transform: translateY(-8px);
}
.card{
    background-color: maroon;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 8px 8px lightgoldenrodyellow;
    margin-bottom: 30px;
}
.card img{
    margin: 15px 0px;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 7px grey;
    height: 250px;
    width: 250px;
    border: 3px solid beige;
    object-fit: cover;
}


/* Category + Home page */

.container{
    /* background-color: aqua; */
    margin: auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px , 1fr));
    gap: 30px;
    padding: 40px;
}
.container img{
    margin: 15px 0px;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 7px grey;
    height: 250px;
    width: 250px;
    border: 3px solid beige;
    object-fit: cover;
}
.container div{
    background-color: maroon;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 8px 8px lightgoldenrodyellow;
}
.container h3{
font-size: 1.8rem;
color: blanchedalmond;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container p{
    font-size: 1.3rem;
    color:aliceblue;
    font-weight: 550;
    font-style: italic;
}
.container a{
    display : block;
    text-decoration: none;
    transition: transform 1s ease;
}
.container a:hover{
    transform: translateY(-8px);
}


/* Contact Us */


.contact h2{
    margin: 30px 0px 10px 0px;
    color: beige;
}
.contact p{
    color:bisque;
    font-size: 1.5rem;
    margin-top: 10px 0px;
    font-weight: 500;
}
.contact{
    margin: 50px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.836);
    padding: 20px;
    border-radius: 10px;
}
.contact input, .contact textarea{
    width: 400px;
    padding: 20px;
    margin: 20px;
    height: 50px;
    box-shadow: 0px 0px 2px 2px grey;
    border-radius: 15px;
    font-size: 1.5rem;
}
.contact1{
background-color: rgb(16, 66, 73);
width: 100%;
text-align: center;
}
.contact1 h2{
font-size: 1.5rem;
color: whitesmoke;
font-weight: 500;
}
.contact1 p{
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color:darksalmon;
}
.contact1 a{
    margin: 20px;
    font-size: 1.4rem;
    font-weight: 400;
    color:cornsilk;
    text-decoration: none;
}
.contact1 a:hover{
    color: darksalmon;
}

/* footer */
.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
.foot p{
    color: aliceblue;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

/* login */
.error{
    color: red;
    font-size: 1.2rem;
}
.contain1{
    min-height: 100vh;
    display: flex;
    background-color: darkcyan;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contain{
    text-align: center;
    background-color: bisque;
    padding: 20px;
    width: 550px;
    border-radius: 30px;
}
.contain input{
    width: 300px;
    padding: 20px;
    margin:10px;
    height: 20px;
    box-shadow: 0px 0px 2px 2px grey;
    border-radius: 15px;
    font-size: 1.1rem;
}
.contain label{
    margin: 20px 0px 10px 0px;
    color: brown;
    font-size: 1.5rem;
}
.contain h1{
color: darkblue;
}
.contain button{
    padding: 20px;
    width: 160px;
    border-radius: 20px;
    background-color: brown;
    color: bisque;
    font-size: 1.5rem;
}
